.card {
  display: block;
  position: relative;
  margin-bottom: em(82);

  &-wrapper {
    position: relative;
    //z-index: 1;
  }
  &-title {
    margin-top: 0;
    margin-bottom: em(5);
  }
  &-img {
    position: relative;
    margin-bottom: em(22);
    background-color: $whiteColor;
    text-align: center;
    > img {
      width: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      will-change: border-color;
      border: 1px solid $grey3_50;
      transition: border 0.25s $easing;
    }
    &:after {
      content: '';
      position: absolute;
      top: 40%;
      left: calc(50% - 22px);
      background-image: url("../img/eye.svg");
      background-size: cover;
      width: em(64);
      height: em(40);
      will-change: transform;
      transform: scaleY(0);
      transition: transform 0.25s $easing;
    }
  }
  &.event-card {

    &:hover {

      .card-img {

        &:before {
          border: em(16) solid $yellow;
        }
        &:after {
          transform: scaleY(1);
        }
      }
    }
  }
  &.event-card-video {

    .play-btn {
      position: absolute;
      top: em(32);
      right: em(32);
      width: em(48);
      height: em(48);
      padding: em(18);
      background-color: $whiteColor;
      transition: all 0.4s $easing;

      &.play-opened {
        cursor: default;
        transform: scale(40);

        img {
          visibility: hidden;
        }
      }
    }
  }
}

